<% @title = 'New User' %>

<% @user.password = @user.password_confirmation = nil %>

<%= form_for(@user) do |f| -%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= label_tag 'username', 'Username' %><br/>
  <%= f.text_field :username %></p>

  <p><%= label_tag 'password' %><br/>
  <%= f.password_field :password %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation %></p>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email %></p>

  <p><%= label_tag 'first_name', 'First Name' %><br/>
  <%= f.text_field :first_name %></p>

  <p><%= label_tag 'last_name', 'Last Name' %><br/>
  <%= f.text_field :last_name %></p>

  <p><%= label(:validation, :id, 'validation') %>
  <%= collection_select(:user, :validation_id, Validation.find(:all), :id, :name, options = {}, html_options = {}) %></p>

  <p>
    <%#= f.label :roles %><br />
    <%#= f.select :roles, (controller.authorization_engine.roles + (@user.roles.to_a || [])).uniq, {}, {:multiple => true} %>
  </p>

  <p><%= submit_tag 'Sign up' %></p>
<% end -%>
