<% @title = 'Taxonomies' %>

<blockquote>
  Notes:<br /><em>
    <p>1) The word "Taxonomy" refers to a group of related Categories. Opening a Taxonomy listed below, will reveal the Categories within it.</p>
    <p>2) Setting a Taxonomy's "Status => Locked" (which can only be done by the "owner") enables the internationalization of the Taxonomy, and the translation of the related Categories, into multiple languages.</p>
  </em><br />&nbsp;
</blockquote>

<table border=0>
  <tr>
    <th align="left">Name</th>
    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th align="left">Status</th>
    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th align="left" colspan=6>Privacy</th>
  </tr>

<% @taxonomies = @taxonomies.find(:all).sort_by(&:name) %>

<% @taxonomies.each do |taxonomy| %>
  <% if taxonomy.status='beta' && taxonomy.internationalization_id.nil? %>
    <% set_taxonomy_id=taxonomy.id %>
    <tr>
      <td nowrap="nowrap">(<%= taxonomy.internationalization_id.nil? %>/<%=h taxonomy.id %>/<%=h taxonomy.internationalization_id %>)--<%=h taxonomy.name %></td>
      <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td nowrap="nowrap"><%=h taxonomy.status %></td>
      <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td nowrap="nowrap"><%=h taxonomy.privacy %></td>
      <td><% if permitted_to? :show, taxonomy %>&nbsp;<% else %><strong>(<%=h taxonomy.status %>)<strong><% end %></td>
      <td align="center">
        <%= link_to '<img src="/images/eye.gif" border="0">'.html_safe, taxonomy if !permitted_to? :edit, taxonomy %>
        <%= link_to '<img src="/images/delta.gif" border="0">'.html_safe, taxonomy if permitted_to? :edit, taxonomy %>
      </td>
      <td><%#= link_to '<img src="/images/remove.gif" border="0">', taxonomy, :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, taxonomy %></td>
      <td>
        <%= link_to '<img src="/images/translate.gif" border="0">'.html_safe, new_taxonomy_path(:internationalization_id => taxonomy.id)  if permitted_to? :internationalize, taxonomy %>
      </td>
      <td>
        <td><%= link_to '<img src="/images/newPage.gif" border="0">'.html_safe, new_post_path(:taxonomy_id => taxonomy.id) if permitted_to? :create, @posts %></td>
      </td>
    </tr>
  <% end %>
  <% @taxonomies.each do |i13n| %>
    <% if !i13n.internationalization_id.nil? %>
    <% if i13n.internationalization_id=set_taxonomy_id %>
      <tr>
        <td nowrap="nowrap"><%= indent.html_safe %><em>(<%=h taxonomy.id %>/<%=h i13n.internationalization_id %>)**<%=h i13n.name %></em></td>
        <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td nowrap="nowrap"><%=h i13n.status %></td>
        <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td nowrap="nowrap"><%=h i13n.privacy %></td>
        <td><% if permitted_to? :show, i13n %>&nbsp;<% else %><strong>(<%=h i13n.status %>)<strong><% end %></td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td align="center">
          <%= link_to '<img src="/images/eye.gif" border="0">'.html_safe, i13n if !permitted_to? :edit, i13n %>
          <%= link_to '<img src="/images/delta.gif" border="0">'.html_safe, i13n if permitted_to? :edit, i13n %>
        </td>
        <td>
        <td><%= link_to '<img src="/images/newPage.gif" border="0">'.html_safe, new_post_path(:taxonomy_id => i13n.id) if permitted_to? :create, @posts %></td>
        </td>
      </tr>
    <% end %>
    <% end %>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New taxonomy', new_taxonomy_path if permitted_to? :create, :taxonomies %>